/* Pawprint theme stylesheet 
  Place any theme specific styles here.
*/

/****** General ******/

body, table, td { 
  font-size: 9pt; 
  font-family: Verdana; 
  color: #000000; 
  font-weight: normal;
}

body {  
  background: url(../images/bfk_background2.gif);
}

a:link,
a:visited,
a:hover,
a:active {
  color:#9999cc; 
  font-family: Verdana; 
  font-size: 9pt; 
  font-weight: bold; 
  text-decoration:underline;
}

a:hover {
  color: #cc0000; 
  text-decoration: underline;
}

a:active {
  color: #cc0000; 
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-family: Comic Sans MS; 
  font-size: 10pt; 
  color:#336699; 
  font-weight: normal;
}

h1 {
  font-size: 18pt;
  font-weight: bold;
  color: #606060;
  padding-top: 8pt;
  padding-bottom: 12pt;
}

.bordered th {	
  background: #c1c1c1;
}
	
.bordered th a {	
  font-weight: bold; 
}

/******** Widths ********/
#border, #top, #bottom { width: 1024px; } /* was 910 */
#container, #header, #footer { width: 1024px; } /* was 890 */
#left_column { width: 250px; }
.middle_column_narrow { width: 464px; } /* was 330 */
.middle_column_wide { width: 712px; } /* was 580 */
.middle_column_full { width: 946px; } /* 1024 - 60px padding */
#right_column { width: 150px; }
#right_column .box { width: 150px; }
	
/****** Container ******/

#top {
  display: inline; /* Needed for IE, otherwise grey block shows */
}

#border {
  background: none;
}

/***** Header *****/

#header {
	height: 120px;
  background: none;
}

#header .left_block {
  width: 0px;
}

#header .middle_block {
  width: 1024px;
  text-align: center;
}


#container {
  background: none;
}

/****** Menu ******/

#menu {
  background: none;
  margin-left: 0px;
  height: 25px;
  margin-bottom: 25px;
}

#menu a, #menu li a {
  font-size: 13px;
}

#menu .last {
  border-right: none;
}

#menu ul.submenu {
  position: absolute;
  height: 25px;
  margin: 0px;
  padding: 0px;
  bottom: -26px;
  left: 0px;
}

/****** Buffer ******/

#buffer_header {
  height: 0px;
}

/****** Left Column ******/


#left_column {
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: solid 0px;		
  background: none;
}

.left_menu {
  border-bottom: solid 0;
 }
 
.left_menu img {
  vertical-align: middle; 
 }
  
.left_menu li.submenu {
  text-transform: none;
  border-top: 0;
}

.left_menu li {
  text-align: left;
  display: block;
 }

.left_menu a,
.left_menu a:visited {
  font-family: Comic Sans MS; 
  font-size: 12pt; 
  font-weight: normal;
  display: inline;
	color: white;
	background: none;
	border-left: 0px;				
	text-decoration: none;
  text-align: left;
}

.left_menu a:hover, 
.left_menu .selected,
.left_menu a:visited.selected {
	border-left: 0px;				
	color: rgb(74, 15, 194);
	/* IE needs this repeated */
  font-family: Comic Sans MS; 
  font-size: 12pt; 
  font-weight: normal;
	text-decoration: none;
}

/****** Middle Column ******/

#middle_column {
	padding-left: 30px;
	padding-right: 30px;
	border-left: solid 0px;	
  background-color: #EFECFE;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#middle_column .edit_block { 
  float: left;
  padding-left: 10px;
}  

.byline { 
  float: left; 
}

.byline a { 
  font-size: 100%; 
  font-style: italic; 
}
 
/****** Right Column ******/

#right_column {
}

/****** Footer ******/

#footer,
#footer .left_block,
#footer .middle_block,
#footer .right_block,
#footer .edit_block {
	color: white;
	background: none;
	font-size: 11px;
}

#footer {
	border-top: 0;
	border-bottom: 0;
}

#footer .edit_block { 
  float: right;
  margin: 0px;
}

#buffer_footer {
  height: 0px;
}


#bottom {
  display: inline; /* Needed for IE, otherwise grey block shows */
}

/****** Specific for this theme ******/

