<%
  @title = 'Delete Old Sessions'
  @left_column_partial = 'reg_admin/reg_admin_left_menu'
%>

<h3>Delete Old Sessions</h3>

<p>Deleted <%= @old_sessions %> old sessions.</p>

<p>(There are <%= @new_sessions %> new sessions left.)</p>

