<%
  @title = 'Update'
  @left_column_partial = 'reg_admin/reg_admin_left_menu' 
%>

<h3>Updating web site from SVN</h3>

<%= @update_error %> executing:<br>
<pre>
<%= @update_cmd %>
</pre>
<p>
Output is:<br>
<pre>
<%= h(@update_output) %>
</pre>

