<div id="markup_help" class="markup_help">
  <%= render("#{@wiki.markup}_help") %>
  <%= render 'wiki_words_help' %>
</div>

<%#= draggable_element( "markup_help", :revert => false) %>


<hr>

<%= render :partial => 'plugins' %>
