<!--[form:event]-->

<%= render_partial 'date_length_location' %>

<table class="table_spacing">
	<tr>
		<td>
			<label for="event_name">Event Name</label><br/>
			<%= text_field 'event', 'name'  %>
		</td>
	</tr>
</table>

<%= render_partial 'note' %>

<!--[eoform:event]-->

