<%-
  @title = 'Survey Questions'
  @left_column_partial = 'reg_admin/reg_admin_left_menu' 
-%>

<h1>New Survey Question</h1>

<%= form_tag :controller => 'survey_questions', :action => 'create', :survey_id => @survey_id %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form %>

<%= form_tag :controller => 'survey_questions', :action => 'index', :survey_id => @survey_id %> 
  <%= submit_tag "Cancel" %>
<%= end_form %>
