<%
  @title = "Directory: #{@webdav.current_path}"
%>

<div id="webdav_browser">
  <%= render :partial => 'webdav_browser', 
    :locals => { :connection => 'browser', :drag => false, :list_height => 0, :show_checkout => true}  %>
</div>

  