<table>
  <tr>
    <td>Password:</td>
    <td><%= password_field("user", "password") %></td>
  </tr>
  <tr>
    <td>Confirm:</td>
    <td><%= password_field("user", "password_confirmation") %></td>
  </tr>
</table>
