<%
  @title = 'Change Password'
  @left_column_partial = 'layouts/auto_left_menu' 
%>

<h3><%= @title %></h3>
<%= error_messages_for('user') %>

<p>Enter your new password in the fields below.</p>

<%= form_tag :controller => 'user', :action => 'change_password' %>
  <%= render :partial => 'password' %>
  <div class="button_bar">
    <%= submit_tag "Change password" %>
    <%= link_to 'Cancel', :action => 'index' %>
  </div>
<%= end_form %>

