<%-
  @title = 'Mailer Subscriptions'
  @left_column_partial = 'reg_admin/reg_admin_left_menu' 
-%>

<h1>New Mailer Subscription</h1>

<%= form_tag :controller => 'mailer_subscriptions', :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form %>

<%= form_tag :controller => 'mailer_subscriptions', :action => 'index' %> 
  <%= submit_tag "Cancel" %>
<%= end_form %>
