<%-
  @title = 'Survey Responses'
  @left_column_partial = 'reg_admin/reg_admin_left_menu' 
-%>

<h1>New Response for '<%= @survey_response.survey.name %>' Survey</h1>

<%= form_tag :controller => 'survey_responses', :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form %>

<%= form_tag :controller => 'survey_responses', :action => 'index' %> 
  <%= submit_tag "Cancel" %>
<%= end_form %>
