You have been added as a user to the <%= @app_name %> web site.

Please click on the link to login and update your information:

"<%= @url%>"

Your login is: <%= @login %>
Your password is: <%= @password %>
  

