<table>
<tr>

<td>
<%= form_tag :action => 'volunteer' %>
  <%= submit_tag "Continue" %>
    &nbsp;
<%= end_form %>
</td>

<td>
<%= form_tag :action => 'new' %>
  <%= submit_tag "Add Another" %>
    &nbsp;
<%= end_form %>
</td>

</tr>
</table>
