<h3>Wiki words</h3>
<p style="border-top: 1px dotted #ccc; margin-top: 0px">
  Any phrase surrounded by double brackets is a wiki word and
links to another page.  To show a different name, use
<i>[[WikiLink|Text To Show]]</i>
</p>
<p>
  Wiki words: <i> [[HomePage|Home]], [[AboutUs]], [[Boundaries]]</i><br/>
</p>
