<html>
<head>

  <title>Editor test</title>
     <%= stylesheet_link_tag "styles.css", :media => "all" %>
      <%= javascript_include_tag :defaults %> 
      <%= javascript_include_tag '../fckeditor/fckeditor' %>
</head>
<body>

<%= @content_for_layout %>

</body>
</html>
